<div class="container">
    <div class="row centered">
        <div class="col-lg-4">
            <i class="logo fa fa-tachometer fa-2x"></i>
            <h4>{% trans %}about.bigdata.title{% endtrans %}</h4>
            <p>{% trans %}about.bigdata.desc{% endtrans %}</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4">
            <i class="logo fa fa-server fa-2x"></i>
            <h4>{% trans %}about.system.title{% endtrans %}</h4>
            <p>{% trans %}about.system.desc{% endtrans %}</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4">
            <i class="logo fa fa-desktop fa-2x"></i>
            <h4>{% trans %}about.programming.title{% endtrans %}</h4>
            <p>{% trans %}about.programming.desc{% endtrans %}</p>
        </div><!-- col-lg-4 -->
    </div><!-- row -->
    <br>
    <br>
</div><!-- container -->
