<div class="container">
    <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>{% trans %}contact.title{% endtrans %}</h2>
            <p>{% trans %}contact.desc{% endtrans %}</p>
        </div>
    </div><!-- row -->
</div><!-- container -->
<br>

<div class="container">
    <div class="row">


    <div class="row centered">
        <div class="footer-col col-md-4">
            <h4>{% trans %}contact.mail{% endtrans %}</h4>
            <a class="fa fa-envelope fa-2x"></a>
            <p>bastien.dine@gmail.com</p>
        </div>

        <div class="footer-col col-md-4">
            <h4>{% trans %}contact.network{% endtrans %}</h4>
            <a href="https://www.linkedin.com/in/bastien-dine-a046b690/" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
            <a href="https://github.com/bdine" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-github"></i></a>
            {#<a href="https://twitter.com/dine_bastien?lang={{ global.request.locale }}" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
             #}
        </div>

        <div class="footer-col col-md-4">
            <h4>{% trans %}contact.address{% endtrans %}</h4>
            <a class="fa fa-globe fa-2x"></a>
            <p>Grenoble, France</p>
        </div>

    </div><!-- row -->

</div><!-- container -->