        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{% trans %}experiences.title{% endtrans %}</h2>
                    <p>{% trans %}experiences.desc{% endtrans %}</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->

     <div class="container">

        <div id="timeline">
            <div class="row timeline-movement timeline-movement-top">

                <div class="timeline-badge timeline-filter-movement">
                    <a>
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </div>

            </div>
            <div class="row timeline-movement">

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{% trans %}experiences.coservit_big_data.title{% endtrans %}</span></li>
                                    <li><span class="causale">{% trans %}experiences.coservit_big_data.location{% endtrans %}</span></li>
                                    <li><p><small class="text-muted">{% trans %}experiences.coservit_big_data.date{% endtrans %}</small></p> </li>
                                    <li><span class="causale">{% trans %}experiences.coservit_big_data.resume{% endtrans %}</span></li>
                                    <li><a class="btn" data-toggle="collapse" data-target="#big_data_details">{% trans %}experiences.more{% endtrans %} >></a></li>
                                    <li>
                                        <div id="big_data_details" class="collapse">
                                            <span class="causale">{% trans %}experiences.coservit_big_data.details{% endtrans %}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item"></div>
                <div class="col-sm-6  timeline-item"></div>
                <div class="col-sm-6  timeline-item"></div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{% trans %}experiences.coservit_full_stack.title{% endtrans %}</span></li>
                                    <li><span class="causale">{% trans %}experiences.coservit_full_stack.location{% endtrans %}</span></li>
                                    <li><p><small class="text-muted">{% trans %}experiences.coservit_full_stack.date{% endtrans %}</small></p> </li>
                                    <li><span class="causale">{% trans %}experiences.coservit_full_stack.resume{% endtrans %}</span></li>
                                    <li><a class="btn" data-toggle="collapse" data-target="#full_stack_details">{% trans %}experiences.more{% endtrans %} >></a></li>
                                    <li>
                                        <div id="full_stack_details" class="collapse">
                                            <span class="causale">{% trans %}experiences.coservit_full_stack.details{% endtrans %}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row timeline-movement">

                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">Sep</span>
                    <span class="timeline-balloon-date-month">2013</span>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{% trans %}experiences.ensimag.title{% endtrans %}</span></li>
                                    <li><span class="causale">{% trans %}experiences.ensimag.location{% endtrans %}</span> </li>
                                    <li><p><small class="text-muted">{% trans %}experiences.ensimag.date{% endtrans %}</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <br>
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{% trans %}experiences.esisar.title{% endtrans %}</span></li>
                                    <li><span class="causale">{% trans %}experiences.esisar.location{% endtrans %}</span> </li>
                                    <li><p><small class="text-muted">{% trans %}experiences.esisar.date{% endtrans %}</small></p> </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{% trans %}experiences.prepa.title{% endtrans %}</span></li>
                                    <li><span class="causale">{% trans %}experiences.prepa.location{% endtrans %}</span> </li>
                                    <li><p><small class="text-muted">{% trans %}experiences.prepa.date{% endtrans %}</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
