{% extends "layout.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

<div id="page-top"></div>

<header>
    {% include 'me.html.twig' %}
</header>

<section id="about">
    {% include 'about.html.twig' %}
</section>


<section class="grey" id="skills">
    {% include 'skills.html.twig' %}
</section>

<section id="experiences">
    {% include 'experiences.html.twig' %}
</section>

<section id="contact" class="grey">
    {% include 'contact.html.twig' %}
</section>

<section id="cv">
    {% include 'cv.html.twig' %}
</section>

{% include 'chatbot.html.twig' %}

{% endblock %}