<div class="container">
    <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>{% trans %}skills.title{% endtrans %}</h2>
            <p>{% trans %}skills.desc{% endtrans %}</p>
        </div>
    </div><!-- row -->
</div><!-- container -->

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>{% trans %}skills.bigdata.title{% endtrans %}</h4>
            <p>{% trans %}skills.bigdata.desc{% endtrans %}</p>
            <div class="row">
                <div class="col-md-3 skilltitle">{%  trans %}skills.bigdata.cassandra{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span class="sr-only">90% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.bigdata.storm{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span class="sr-only">90% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.bigdata.es{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.bigdata.spark{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>{% trans %}skills.programming.title{% endtrans %}</h4>
            <p>{% trans %}skills.programming.desc{% endtrans %}</p>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.programming.php{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.programming.java{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.programming.web{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.programming.git{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>{% trans %}skills.system.title{% endtrans %}</h4>
            <p>{% trans %}skills.system.desc{% endtrans %}</p>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.system.linux{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span class="sr-only">90% Complete</span>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-3 skilltitle">{% trans %}skills.system.scripting{% endtrans %}</div>
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 skilltitle">{% trans %}skills.system.ansible{% endtrans %}</div>
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-6">
            <h4>{% trans %}skills.language.title{% endtrans %}</h4>
            <p>{% trans %}skills.language.desc{% endtrans %}</p>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.language.french{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                            <span class="sr-only">95% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.language.english{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 skilltitle">{% trans %}skills.language.italian{% endtrans %}</div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>